.container {
    position: relative;
    background-color: var(--primary-200);
    width: 30%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.activeContainer {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    font-size: 18px;
    color: var(--text-600)
}

.button:hover {
    background-color: var(--primary-300);
    border-radius: 5px;
}

.selected {
    border: 1px dashed var(--primary-600);
    border-radius: 5px;
}

.dropdown {
    position: absolute;
    display: flex;
    top: 100%;
    background-color: var(--primary-200);
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    backdrop-filter: blur(2px);
    padding-top: 5px;
}

.dropdownSection {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
    width: 100%;
    max-height: 200px;
    padding: 0px 8px;
}

.dropdownSection:first-child {
    border-right: 1px solid var(--primary-50)
}

.dropdownSection::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.hide {
    display: none;
}