[data-theme="theme-1"][data-scheme="light"] {
    --text-50: rgb(235, 229, 255);
    --text-100: rgb(214, 204, 255);
    --text-200: rgb(173, 153, 255);
    --text-300: rgb(133, 102, 255);
    --text-400: rgb(92, 51, 255);
    --text-500: rgb(51, 0, 255);
    --text-600: rgb(41, 0, 204);
    --text-700: rgb(31, 0, 153);
    --text-800: rgb(20, 0, 102);
    --text-900: rgb(10, 0, 51);
    --text-950: rgb(5, 0, 26);
  
    --background-50: rgb(235, 229, 255);
    --background-100: rgb(214, 204, 255);
    --background-200: rgb(173, 153, 255);
    --background-300: rgb(133, 102, 255);
    --background-400: rgb(92, 51, 255);
    --background-500: rgb(51, 0, 255);
    --background-600: rgb(41, 0, 204);
    --background-700: rgb(31, 0, 153);
    --background-800: rgb(20, 0, 102);
    --background-900: rgb(10, 0, 51);
    --background-950: rgb(5, 0, 26);
  
    --primary-50: rgb(235, 231, 254);
    --primary-100: rgb(215, 206, 253);
    --primary-200: rgb(176, 157, 251);
    --primary-300: rgb(136, 108, 249);
    --primary-400: rgb(97, 59, 247);
    --primary-500: rgb(57, 10, 245);
    --primary-600: rgb(46, 8, 196);
    --primary-700: rgb(34, 6, 147);
    --primary-800: rgb(23, 4, 98);
    --primary-900: rgb(11, 2, 49);
    --primary-950: rgb(6, 1, 24);
  
    --secondary-50: rgb(254, 230, 243);
    --secondary-100: rgb(253, 206, 231);
    --secondary-200: rgb(251, 157, 207);
    --secondary-300: rgb(250, 107, 183);
    --secondary-400: rgb(248, 58, 159);
    --secondary-500: rgb(246, 9, 135);
    --secondary-600: rgb(197, 7, 108);
    --secondary-700: rgb(148, 5, 81);
    --secondary-800: rgb(98, 4, 54);
    --secondary-900: rgb(49, 2, 27);
    --secondary-950: rgb(25, 1, 14);
  
    --accent-50: rgb(254, 230, 235);
    --accent-100: rgb(253, 206, 215);
    --accent-200: rgb(251, 157, 176);
    --accent-300: rgb(250, 107, 136);
    --accent-400: rgb(248, 58, 96);
    --accent-500: rgb(246, 9, 56);
    --accent-600: rgb(197, 7, 45);
    --accent-700: rgb(148, 5, 34);
    --accent-800: rgb(98, 4, 23);
    --accent-900: rgb(49, 2, 11);
    --accent-950: rgb(25, 1, 6);
  }

[data-theme="theme-1"][data-scheme="dark"] {
    --text-50: rgb(5, 0, 26);
    --text-100: rgb(10, 0, 51);
    --text-200: rgb(20, 0, 102);
    --text-300: rgb(31, 0, 153);
    --text-400: rgb(41, 0, 204);
    --text-500: rgb(51, 0, 255);
    --text-600: rgb(92, 51, 255);
    --text-700: rgb(133, 102, 255);
    --text-800: rgb(173, 153, 255);
    --text-900: rgb(214, 204, 255);
    --text-950: rgb(235, 229, 255);
  
    --background-50: rgb(5, 0, 26);
    --background-100: rgb(10, 0, 51);
    --background-200: rgb(20, 0, 102);
    --background-300: rgb(31, 0, 153);
    --background-400: rgb(41, 0, 204);
    --background-500: rgb(51, 0, 255);
    --background-600: rgb(92, 51, 255);
    --background-700: rgb(133, 102, 255);
    --background-800: rgb(173, 153, 255);
    --background-900: rgb(214, 204, 255);
    --background-950: rgb(235, 229, 255);
  
    --primary-50: rgb(6, 1, 24);
    --primary-100: rgb(11, 2, 49);
    --primary-200: rgb(23, 4, 98);
    --primary-300: rgb(34, 6, 147);
    --primary-400: rgb(46, 8, 196);
    --primary-500: rgb(57, 10, 245);
    --primary-600: rgb(97, 59, 247);
    --primary-700: rgb(136, 108, 249);
    --primary-800: rgb(176, 157, 251);
    --primary-900: rgb(215, 206, 253);
    --primary-950: rgb(235, 231, 254);
  
    --secondary-50: rgb(25, 1, 14);
    --secondary-100: rgb(49, 2, 27);
    --secondary-200: rgb(98, 4, 54);
    --secondary-300: rgb(148, 5, 81);
    --secondary-400: rgb(197, 7, 108);
    --secondary-500: rgb(246, 9, 135);
    --secondary-600: rgb(248, 58, 159);
    --secondary-700: rgb(250, 107, 183);
    --secondary-800: rgb(251, 157, 207);
    --secondary-900: rgb(253, 206, 231);
    --secondary-950: rgb(254, 230, 243);
  
    --accent-50: rgb(25, 1, 6);
    --accent-100: rgb(49, 2, 11);
    --accent-200: rgb(98, 4, 23);
    --accent-300: rgb(148, 5, 34);
    --accent-400: rgb(197, 7, 45);
    --accent-500: rgb(246, 9, 56);
    --accent-600: rgb(248, 58, 96);
    --accent-700: rgb(250, 107, 136);
    --accent-800: rgb(251, 157, 176);
    --accent-900: rgb(253, 206, 215);
    --accent-950: rgb(254, 230, 235);
  }